/* Navbar */
/* Estilo base del navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { margin: 0; }
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0 auto;
 }
 body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fff;
  overflow-x: hidden;

}
/* Estilo base del navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}

/* Estilo inicial: transparente, texto blanco */

.logo{
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  object-fit: contain;  /* mantiene proporción sin recortar */
}

.AxmLogo{
  fill: white;
  color: white  ;
}

.menu{
  margin-right: 200px;
  margin-bottom: 10px;
}


/* Estilo al hacer scroll: fondo negro, texto blanco */
.navbar {
  background-color: #000;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


/* Estilo adicional para navbar-container y botones */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  margin: 0 .8rem;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: .5px;
  background: #A6A6A6;
  transition: all 0.5s;
}

.menu a::before {
  top: 0;
  left: 0;
}

.menu a::after {
  bottom: 0;
  right: 0;
}

.menu a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.menu a:hover {
  color: rgb(241, 51, 51);
  transition: ease 0.5s;
}


/* Estilos para dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  max-width: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  flex-direction: column;
}

.dropdown-option{
  color: #d72d2d;
}

.dropdown-menu a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  white-space: nowrap;
  color: black !important; 
    font-size: 16px;           /* ajusta según tu menú */
  font-weight: 500;  
  transition: background-color 0.3s;
  border-bottom: 1px solid #ddd; /* línea sutil abajo */
}

.dropdown-menu a:last-child {
  border-bottom: none; /* evita línea en el último ítem */
}

.dropdown-menu a:hover {
  /* background-color: #f1f1f1; */
  color: rgb(241, 51, 51);
}

/* Mostrar menú al hacer hover */
.dropdown:hover .dropdown-menu {
  display: block;
} */


.btn-cta {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.btn-cta:hover {
  background-color: white;
  color: #000;
  border-color: white;
}

/* Estilos menus desplegables*/
/* Estilos para dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  max-width: 180px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  flex-direction: column;
}

.dropdown-option{
  color: #d72d2d;
}

.dropdown-menu a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  white-space: nowrap;
  color: black !important; 
    font-size: 16px;           /* ajusta según tu menú */
  font-weight: 500;  
  transition: background-color 0.3s;
  border-bottom: 1px solid #ddd; /* línea sutil abajo */
}

.dropdown-menu a:last-child {
  border-bottom: none; /* evita línea en el último ítem */
}

.dropdown-menu a:hover {
  /* background-color: #f1f1f1; */
  color: rgb(241, 51, 51);
}

/* Mostrar menú al hacer hover */
.dropdown:hover .dropdown-menu {
  display: block;
} 


/* Hero Section */
.hero-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover; /* Llena el contenedor sin distorsión */
}


.hero-overlay {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 8rem 2rem 2rem;
  display: flex;
  height: 100%;
}
.hero-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.hero-container h1 {
  font-size: 4rem;
  margin-top: 60px;
  margin-bottom: 100px;
}

.hero-container p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: white;
}

/*Contact*/

.contact-section {
  background-color: #0a0a0a;
  color: white;
  width: 100%;
  padding-top: 100px;
  border-color: #ddd;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.contact-image img {
  border-radius: 2px;
  width: 100%;
  max-width: 420px;
  height: auto;
  object-fit: cover;
}

.contact-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 450px;
}

.contact-content h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.contact-box {
  background-color: #161616;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: left;
  gap: 1.5rem;
}
.contact-item{
  font-size: 3rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.contact-item i {
  color: white;
  font-size: 1.2rem;
  width: 24px;
  text-align: center;
}

.highlight {
  color: #e50914;
}





/*Contacto*/

.footer {
  background-color: #0c0c0c;
  color: white;
  padding: 4rem 2rem 2rem;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1050px;
  margin: 0 auto;
}

.footer-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid #333;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer-contacto a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 2rem;
}

.footer-servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.footer-servicios li {
  border-bottom: 1px solid #333;
  padding: 1rem 0;
  width: 500px;
}
.footer-servicios li :hover {
  color: rgb(241, 51, 51);
  transition: ease 0.5s;
}

.footer-servicios a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}

.footer-legal {
  color: white;
  width: 300px;
  text-decoration: none;
}

.footer-legal a {
  color: white;
  text-decoration: none;
}

.footer-copy {
  text-align: left;
  font-size: 0.9rem;
  color: #ff0033;
  margin-top: 2rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
/*Contact*/

.contact-section {
  padding-top: 100px;
}

.contact-container {
  max-width: 90vh;
}

.contact-image img {
  width: 320px;
}
.contact-box {
  width: 350px;
}
  /* Footer */
  .footer{
    padding-top: 50px;
  }
  .footer-contacto,
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-servicios li {
    width: auto;
  }

  .footer-copy {
    text-align: center;
  }
}



.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Estilos para responsive */
@media screen and (max-width: 800px) {
 .navbar,
  .navbar.transparent {
    background-color: #000 !important;
  }

.navbar{
  height: 100px;
}

.logo{
  margin-top:5px;
}
.navbar.scrolled .menu >a,
.navbar.scrolled .btn-cta {
    color: black;
  margin-top: 25px;
}
  .hamburger {
    display: block;
  }

 .menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  position: fixed;
  top: 50px; /* asegúrate que tu navbar tenga height: 100px */
  right: 0;
  left: 0;  /* que ocupe todo el ancho */
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  z-index: 999;
}
  .menu a {
    margin: 1rem;
    padding-bottom: 10px;
    display: block;
    color: #000;
    border-bottom: 1px solid #eee;
  }

  .menu.active {
    display: flex;
  }

  .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    background-color: #111;
  }

  .dropdown:hover .dropdown-menu {
    display: none; /* desactivamos hover */
  }

  .dropdown-toggle::after {
    content: " ▼";
  }
  .dropdown > a{
    color: #000;
  }

  .dropdown-toggle.active + .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
  left: 0;
  background-color: #f9f9f9;
  max-width: 100%;
}
.dropdown-menu >a {
     margin: 1rem;
    padding-bottom: 10px;
    display: block;
    color: #000;
    border-bottom: 1px solid #eee;
}
.menu>.dropdown >a{
  color: black;
}

.contact-container{
  display: flex;
  flex-direction: column-reverse;
}
.contact-box{
  margin-bottom: 20px;
}

}

@media screen and (max-width: 700px) {
.hero-container {
    max-width: 80%;
    margin:0 auto;

  }
    .hero-container h1{
    margin-bottom: 25px;
  }
  .hero-container p{
    margin-bottom: 25px;
  }
}

