
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { margin: 0;
 }
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0 auto;
 }

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background: #fff;
  overflow-x: hidden;

}
/* Navbar */
/* Estilo base del navbar */
.fade-in-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in-element.visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}

/* Estilo inicial: transparente, texto blanco */

.logo{
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  object-fit: contain;  /* mantiene proporción sin recortar */
}

.AxmLogo{
  fill: white;
}

.menu{
  margin-right: 200px;
  margin-bottom: 10px;
}


/* Estilo al hacer scroll: fondo negro, texto blanco */
.navbar {
  background-color: #000;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


/* Estilo adicional para navbar-container y botones */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  margin: 0 .8rem;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: .5px;
  background: #A6A6A6;
  transition: all 0.5s;
}

.menu a::before {
  top: 0;
  left: 0;
}

.menu a::after {
  bottom: 0;
  right: 0;
}

.menu a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.menu a:hover {
  color: rgb(241, 51, 51);
  transition: ease 0.5s;
}


/* Estilos para dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  max-width: 220px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  flex-direction: column;
}

.dropdown-option{
  color: #d72d2d;
}

.dropdown-menu a {
  display: block;
  padding: 10px 0px;
  text-decoration: none;
  white-space: nowrap;
  color: black !important; 
    font-size: 16px;           /* ajusta según tu menú */
  font-weight: 500;  
  transition: background-color 0.3s;
  border-bottom: 1px solid #ddd; /* línea sutil abajo */
}

.dropdown-menu a:last-child {
  border-bottom: none; /* evita línea en el último ítem */
}

.dropdown-menu a:hover {
  /* background-color: #f1f1f1; */
  color: rgb(241, 51, 51);
}

/* Mostrar menú al hacer hover */
.dropdown:hover .dropdown-menu {
  display: block;
} */

.btn-cta {
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid white;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.btn-cta:hover {
  background-color: white;
  color: #000;
  border-color: white;
}


/* Hero Section */
.hero-video {
  position: relative;
  width: 100vw;
  height: 100vh; /* Ocupa toda la altura del viewport */
  overflow: hidden;
}
.hero-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Cambia el valor para más o menos oscuridad */
  z-index: 0;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Llena el contenedor sin distorsión */
  z-index: -1;
  box-shadow: 100;
}

.background-video >source{
  box-shadow: inset;
}


.hero-overlay {
  position: relative;
  margin-top: 30px;
  z-index: 1;
  color: white;
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 8rem 2rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* ⬅ CAMBIO aquí: lo mueve al lado izquierdo */
  height: 100%;
}
.hero-container {
  max-width: 600px;
  text-align: left;
  margin-left: 150px;
  color: white;
}

.hero-container h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color:rgb(179, 168, 168);
}

.btn-primary {
  color: #fff;
  padding: 0.75rem 2rem;
  text-decoration: none;
  background-color: #000;
  border: 2px solid #ff0044; /* Borde rojo (puedes cambiar a blanco si prefieres) */
  border-radius: 40px;
  font-weight: 600;
  width: 250px;
  font-size: 1rem;
  transition: all 0.3s ease;
  display: inline-block;
}

/* Efecto al pasar el mouse */
.btn-primary:hover {
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 0, 68, 0.6); /* Sombra externa ligera */

}

/* .btn-primary:hover {
  background-color: #144db3;
} */


/*Servicios*/
.servicios-section {
  background-color: #fff;
  padding: 6rem 2rem; /* Aumenta espacio arriba y abajo */
  text-align: center;
}

.servicios-section h2 {
  font-size: 2.5rem;
  color: #1B65E0;/* separa el título del grid */
  font-weight: 700;
}

.servicios-grid {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  max-width: 1200px;
  margin: auto;
}

.servicio-card {
  position: relative;
  background: #111;
  color: white;
  border-radius: 5px;
  padding: 4rem 1.5rem 5rem; /* espacio abajo para el botón */
  margin-top:90px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 500px;
  width: 100%;
  max-width: 380px; /* lo mantiene legible en desktop */
  margin: auto; 
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicio-card:hover {
  transform: translateY(-40px); /* Desplaza la tarjeta hacia arriba */
}

.icono-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 200px;
  width: 300px;
}

.servicio-icono {
  width: 100px;
  margin-bottom: 1rem;
}

.servicio-card h3 {
  font-size: 2.3rem;
  margin-bottom: 0.8rem;
}

.servicio-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ccc;
}

/* Botón oculto inicialmente */
.btn-mas {
  position: absolute;
  bottom: -100%; /* Oculto fuera del contenedor */
  left: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: bottom 0.3s ease;
}

/* Aparece al hacer hover */
.servicio-card:hover .btn-mas {
  bottom: 0;
}


/*Métricas*/

.metricas {
  padding: 1rem 2rem;
  background-color: #fff;
  text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.metricas-header h2 {
  font-size: 2.5rem;
  font-weight: 650;
  margin-bottom: 2.5rem;
}

.metricas-header p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 3rem;
  margin-bottom: 60px;
}

/* Grid */
.metricas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* Tarjeta */
.metrica-wrapper {
  position: relative;
  width: 100%;
  max-width: 340px;
  margin: auto;
}

/* Capa roja del fondo */
.metrica-fondo {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: #ff0055;
  border-radius: 4px;
  z-index: 0;
}

.metrica-card {
  position: relative;
  background-color: #0c0c0c;
  color: white;
  border-radius: 4px;
  width: 350px;
  height: 300px;
  padding: 2rem 1rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

/* Borde superior decorativo */
.metrica-card::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 8px;
  background: #ff0055;
  border-radius: 0 0 10px 10px;
}

/* Ícono redondo */
.icono-metrica {
  width: 130px;
  height: 130px;
  margin: 0 auto 1rem;
  border: 8px solid #ff0055;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-metrica img {
  width: 40px;
  height: 40px;
}

/* Número */
.metrica-card h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem 0 0.5rem;
}

/* Texto */
.metrica-card p {
  font-size: 1rem;
  color: #ccc;
}

/*Casos-Éxito*/

.casos-exito {
  background-color: #0c0c0c;
  padding: 6rem 2rem;
  margin: 0;
    
   
}

.contenedor-caso {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin: auto;
  gap: 3rem;
  background-color: #1a1a1a;
  padding: 3rem;
  border-radius: 24px;
     width: 1000px;
    margin: auto;
}

.imagen-caso img {
  width: 75%;
  max-width: 500px;
  border-radius: 16px;

}

.texto-caso {
  flex: 1;
  color: #ccc;
  width: 1000px;
  text-align: center;
  border-color: rgb(170, 15, 15);
}

.texto-caso h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1B65E0;
  margin-bottom: 1.2rem;
}

.texto-caso p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}


.clientes {
  background-color: #fff;
  padding: 5rem 2rem;
}

.clientes-contenido {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.clientes-texto {
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 300px;
  line-height: 1.5;
}

.clientes-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex: 1;
}

.clientes-logos img {
  max-height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.clientes-logos img:hover {
  transform: scale(1.1);
}

.social-fixed-buttons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  padding: 0.5rem;
}

.social-fixed-buttons a img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-fixed-buttons a:hover img {
  transform: scale(1.1);
}


/*Contacto*/

.footer {
  background-color: #0c0c0c;
  color: white;
  padding: 4rem 2rem 2rem;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1050px;
  margin: 0 auto;
}

.footer-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid #333;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer-contacto a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 2rem;
}

.footer-servicios ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

.footer-servicios li {
  border-bottom: 1px solid #333;
  padding: 1rem 0;
  width: 500px;
}
.footer-servicios li :hover {
  color: rgb(241, 51, 51);
  transition: ease 0.5s;
}

.footer-servicios a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}

.footer-legal {
  color: white;
  width: 300px;
  text-decoration: none;
}

.footer-legal a {
  color: white;
  text-decoration: none;
}

.footer-copy {
  text-align: left;
  font-size: 0.9rem;
  color: #ff0033;
  margin-top: 2rem;
  margin-bottom: 30px;
}

/* ===== VISTA TABLET (768px - 1024px) ===== */
@media screen and (max-width: 1024px) {
  /* Hero */
  .hero-container {
    margin-left: 2rem;
    max-width: 90%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  .hero-container p {
    font-size: 1rem;
        margin-bottom: 50px;
  }

  /* Servicios */
  .servicios-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .servicio-card {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
  }

  .icono-container {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .servicio-icono {
    width: 80px;
  }

  /* Métricas */
  .metricas-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .metrica-card {
    width: 100%;
  }

  /* Casos de éxito */
  .contenedor-caso {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 80%;
  }

  .imagen-caso img {
    width: 90%;
    max-width: 400px;
  }

  .texto-caso {
    width: 90%;
  }

  /* Footer */
  .footer-contacto,
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-servicios li {
    width: auto;
  }

  .footer-copy {
    text-align: center;
  }
}


@media screen and (max-width: 1132px) {
.metricas-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .metrica-card {
    width: 100%;
  }

}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Estilos para responsive */
@media screen and (max-width: 800px) {
 .navbar,
  .navbar.transparent {
    background-color: #000 !important;
  }

.navbar{
  height: 100px;
}
.navbar.scrolled .menu >a,
.navbar.scrolled .btn-cta {
    color: black;
  margin-top: 25px;
}
.logo{
  margin-top:5px;
}
  .hamburger {
    display: block;
  }

 .menu {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  position: fixed;
  top: 50px; /* asegúrate que tu navbar tenga height: 100px */
  right: 0;
  left: 0;  /* que ocupe todo el ancho */
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  z-index: 999;
}
  .menu a {
    margin: 1rem;
    padding-bottom: 10px;
    display: block;
    color: #000;
    border-bottom: 1px solid #eee;
  }

  .menu.active {
    display: flex;
  }

  .dropdown-menu {
    position: relative;
    top: auto;
    left: auto;
    background-color: #111;
  }

  .dropdown:hover .dropdown-menu {
    display: none; /* desactivamos hover */
  }

  .dropdown-toggle::after {
    content: " ▼";
  }
  .dropdown a{
    color: #000;
  }

  .dropdown-toggle.active + .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
  left: 0;
  background-color: #f9f9f9;
  max-width: 100vw;
}
.dropdown-menu a {
     margin: 1rem;
    padding-bottom: 10px;
    display: block;
    color: #000;
    border-bottom: 1px solid #eee;
}
.menu>.dropdown >a{
  color: black;
}
}

@media screen and (max-width: 700px) {
  .hero-video{
    width: ;
  }
.hero-container {
    max-width: 80%;
    margin:0 auto;
    margin-top: 30px;
  }
    .hero-container h1{
    margin-bottom: 25px;
  }
  .hero-container p{
    margin-bottom: 25px;
  }


  /* Servicios */
  .servicios-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .servicio-card {
  height: 500px;
  width: 100%;
}

  .icono-container {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .servicio-icono {
    width: 80px;
  }

  /* Métricas */
  .metricas-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .metrica-card {
    width: 100%;
  }

  /* Casos de éxito */
  .casos-exito{
        justify-content: center;
  }
  .contenedor-caso {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 90%;
    margin: auto;
  }

  .imagen-caso img {
    width: 90%;
    max-width: 400px;

  }

  .texto-caso {
    width: 100%;
  }

}

